<div class ="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel-body">
				<h3 class="text-center">Forgot your password?</h3>

				<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
				<!-- <%= devise_error_messages! %> -->
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
						<%- if !resource.errors.messages[:email] %>
						<%= f.email_field :email, :autofocus => true, :class => 'form-control input-lg', :placeholder => "Email"  %>
						<%else%>
						<%= f.email_field :email, :autofocus => true, :class => 'form-control input-lg alert-danger', :value => '', :placeholder => "Email was" + resource.errors.messages[:email].join(" ")  %>
						<% end%>
					</div>
				</div>
				<div>
					<%= f.submit "Send me reset password instructions", :class => "btn btn-lg btn-success btn-block" %>
				</div>
				<% end %>
			</div>
		</div>

	</div>
</div>
<!--<%= render "devise/shared/links" %> -->
