<!DOCTYPE html>
<html>
	<head>
		<title>RailsProject</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render "static_pages/nav" %>

		<% if notice %>
		<div id ="fade" class="col-md-4 col-md-offset-4 alert alert-danger">
				<%= notice %>
		</div>
		<% end %>
		<% if alert %>
		<div id ="fade" class="col-md-4 col-md-offset-4 alert alert-info">
				<%= alert %>
		</div>
		<% end %>

		<%= yield %>
		<%= render "static_pages/footer" %>
	</body>
</html>
